<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      <img src="images/actyve.png" width="250" height="220">
      <h3 style="color: #cacaca">Record and track your workouts</h3>

      <p style="color: #cacaca"> Not a member?  <a href="/signup">Create an account</a></p>

      <p style="color: #cacaca">Already have an account? <a href="/login">Log in</a></p>

      <br>

      <%= link_to'Log in with Github', "auth/github" %>
    </div>
  </div>
</div>
