<img src="images/actyve.png" width="250" height="220">

  <h3>Record and track your workouts</h3>
  <p> Not a member?  <a href="/signup">Create an account</a></p>

  <p>Already have an account? <a href="/login">Log in</a></p>
