body{
  background-image: url(../assets/bg4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: 1310px 750px;
  background-size: 1310px 760px;
}

.navbar.bg-light{
  background-color: transparent!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #cacaca !important;
}

.jumbotron.jumbotron-fluid{
  background-color: transparent!important;
}

.index{
  background-color: #FFFFFF;
  opacity: 0.85;
}

.new_user{
  color: #cacaca !important;
}
