<div class="index">
  <h1>Add an activity</h1>
  <h2><%= @exercise.name %></h2>

  <%= render partial: 'layouts/errors', locals: {object: @activity} %>

  <br>

  <%= render 'form' %>

    <br><br>

    Wrong Exercise? <%= link_to "Choose a different exercise", exercises_path(@exercise) %>

</div>
