<div class="index">
  <h1>Exercise by type</h1>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">User</th>
        <th scope="col">Type</th>
        <th scope="col">Last Post</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.title, exercise_activity_path(activity.exercise_id, activity.id) %></td>
        <td><%= link_to activity.user.username, user_path(activity.user) %></td>
        <td><%= link_to activity.exercise.name, exercise_path(activity.exercise_id) %></td>
        <td><%= activity.created_at.strftime("%B %d, %Y") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

</div>
